.header{
    height: 105px;
    /* background-color: red; */
    width: 100%;
}
#top-menu{
    height: 30px;
    /* background-color: blue; */
    /* text-align: right; */
    padding-top: 6px;
    font-size: 13px;
    color: #8c8c8c;
    text-decoration: none;

}
a {
    text-decoration: none;
}
#menu{
    height: calc(105px - 30px);
    /* background-color: yellow; */
   
}
#primary_nav_wrap
{
	margin-top:22px
}

#primary_nav_wrap ul
{
	list-style:none;
	position:relative;
	float:left;
	margin:0;
	padding:0
}

#primary_nav_wrap ul a
{
	display:block;
	color:#333;
	text-decoration:none;
	font-weight:650;
	font-size:15px;
	line-height:32px;
    padding:0 15px;
    letter-spacing: 1.5px;
	font-family:"HelveticaNeue","Helvetica Neue",Helvetica,Arial,sans-serif
}

#primary_nav_wrap ul li
{
	position:relative;
	float:left;
	margin:0;
	padding:0
}

#primary_nav_wrap ul li.current-menu-item
{
    
    
}

#primary_nav_wrap ul li:hover
{
	
}

#primary_nav_wrap ul ul
{
	display:none;
	position:absolute;
	top:100%;
	left:0;
	background:#fff;
	padding:0
}

#primary_nav_wrap ul ul li
{
	float:none;
	width:300px
}

#primary_nav_wrap ul ul a
{
	line-height:120%;
    padding:10px 15px;
    
}

#primary_nav_wrap ul ul ul
{
	top:0;
	left:100%
}

#primary_nav_wrap ul li:hover > ul
{
	display:block
}