.main{
    width: 100%;
    height: max-height;
    background-color: beige;
}
.main-banner{
    width: 100%;
    height: 480px;
    background: url(../image/homepage-banner-desktop-UPDATE.jpg) no-repeat center;
    position: relative;
}
.mainBanner__link__content{
    width: 100%;
    height: 155px;
    position: absolute;
    margin-top: 162px;
    text-align: center;
}
a{
    text-decoration: none;
}

